<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href="/css/style.css">
        

    </head>
    <body>
        <div>
        {{>header}}
        <p>{{errorMessage}}</p>
        {{>footer}}
        </div>
    </body>

</html>