<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel = "stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        
        <p>This site use data from weatherstack and mapbox.com APIs</p>
        </div>
        
      
        {{>footer}}
    </body>

</html>